* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

#header-1 {
  width: 100%;
  height: 50px;
  background-color: #f57c00 ;
  margin-bottom: 0;
  position: fixed;
  z-index: 1;
}

#header-2 {
  width: 100%;
  height: 50px;
  background-color: #f57c00 ;
  margin-bottom: 0;
  z-index: 1;
}

#header-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  z-index: 0;
}

#centered {
  position: absolute;
  top: 20%;
  left: 5%;
}

#btn-go {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 50%;
}

#btn-go i {
  margin-top: 10px;
  padding: 10px;
}

#centered a:hover {
  background-color: rgba(0,0,0,0.4); 
}


#logo {
  float: left;
  padding-left: 10px;
  line-height: 50px;
  color: white;
  font-family: 'Righteous', cursive;
}

nav a {
  line-height: 40px;
  padding: 5px 10px;
  float: right;
  color: white;
  text-decoration: none;
  font-family: 'Righteous', cursive;
}

nav a:hover {
  background-color: #ff8f00;
}

a input {
  border-radius: 5px;
  border: 2px solid white;
  height: 23px;
}


#container {
  padding: 15px;
  margin: auto;
  width: 950px;
  min-height: 600px;
}

.marginbot {
  width: 20%;
}


.article-content {
  float: left;
  width: 915px;
  min-height: 200px;
  /*border: 2px solid purple;*/
  background-color: #FFF;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.article-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

aside h1 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 32px;
}

aside h2 {
  padding-left: 10px;
  line-height: 30px;
  font-size: 32px;
}

#profile-img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

aside h4 {
  padding-top: 10px;
  text-align: center;
}

aside p {
  text-align: center;
  padding-left: 10px;
  line-height: 30px;
}

aside a {
  text-decoration: none;
  color: #ff8f00;
}

aside i {
  text-align: center;
}

.paragraph {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  font-weight: normal;
  font-size: 18px;
}

.img-width {
  width: 700px;
  border-radius: 10px;
}

hr {
  width: 50%;
  margin: auto;
}

#text-small {
  font-size: 11px;
  text-align: center;
}

.text-right {
  text-align: right; 
  margin-right: 10px;
}

#next {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ffab00;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

#next:hover {
  opacity: 0.7;
  background-color: #ffc400;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #ff6d00;
  /*margin-top: 160%;*/
}

footer p {
  padding: 15px;
  text-align: center;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
  letter-spacing: 8px;
  font-size: 20px;
}